*.*~
*.tmp
*.swp
*.os
*.so
*.o
*.pyc
*.dylib
.sconsign.dblite
.sconf_temp
.cproject
.project
.pydevproject
.settings
doc/html
doc/python
plugins
lib
build
config.log
test/IECore/IECoreTest
test/IECore/results.txt
