*.*~
*.tmp
*.swp
*.os
*.so
*.o
*.pyc
*.dylib
*.code-workspace
*.obj
*.pyd
*.pdb
*.dll
*.lib
*.ilk
*.exp
.sconsign*.dblite
.sconf_temp
.cproject
.project
.pydevproject
.settings
.flexlmrc
.vscode
doc/html
doc/python
plugins
lib
build
config.log
projects
test/IECore/IECoreTest
test/*/results*.txt
contrib/*/test/*/results*.txt
/.ubuntu
/dependencies
.idea/
cmake-build-*/
doc/config/Doxyfile
